body {
  background: #f5f5f7;
  color: #4a4a53;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  font-size: 14pt;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 95%;
  min-height: 400px;
}

.height_match {
  min-height: 400px;
}

body {
  background-color: #3C341F;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  color: #E09F69;
}

footer {
  color: white;
}

.button, button {
  background-color: #DEC26E;
  color: #41402C;
}

.button:hover, button:hover {
  background-color: #3C1E16;
}

.panel {
  background-color: #DEC26E;
}

.welcome {
  font-family: 'Satisfy', cursive;
}

.trash {
  float: right;
}

.trash img {
  max-height: 30px;
  width: auto;
}

.back_button img {
  float: right;
  max-height: 20px;
  width: auto;
  margin-bottom: 1.25rem;
}

a {
  color: white;
}

a:hover {
  color: #3C341F;
}
