<div class="row">
    <div class="large-12 columns">
      <div class="nav-bar right">
       <ul class="button-group">
         <li>{{#link-to "trips.add" class="button"}}Add{{/link-to}}</li>
         <li>{{#link-to "application" class="button"}}Home{{/link-to}}</li>
         <li>
            {{#if session.isAuthenticated }}
              {{#link-to "logout" class="button"}}Logout{{/link-to}}
            {{else}}
              {{#link-to "login" class="button"}}Login{{/link-to}}
            {{/if}}
         </li>
        </ul>
      </div>
      <h1>Pack Journal</h1>
      <hr/>
    </div>
  </div>
    {{outlet}}
  <footer class="row">
    <div class="large-12 columns">
      <hr/>
      <div class="row">
        <div class="large-6 columns">
          <p>© Adam Horak, Dmitry White</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
