<div class="panel">
  {{#view App.BackSaveView}}
  <div class="back_button">
      <img src="../../assets/images/list.png" alt="back" size="100%">
  </div>
  {{/view}}
  <div class="trip_title">{{input placeholder="Trip Title" value=name}}</div>
  <p>Click on the map to add Hikes and Points</p>
  <button class="button" {{action saveTrip}}>Save</button>
  {{#link-to "trip.delete" id}}<button class="button">Delete</button>{{/link-to}}
  {{#if displayEntryBox}}
    <div class="notes_entry">
      {{textarea placeholder="Enter notes about this place" value=displayedText}}
    </div>
  {{/if}}
</div>
