<div class="panel">
  <h5>Click on the map to add waypoints</h5>
  <h5>{{input placeholder="Trip Title" value=name}}</h5>
  <button class="button" {{action saveTrip}}>Save</button>
  {{#link-to "trip.delete" id}}<button class="button">Delete</button>{{/link-to}}
  {{#if editAnnotationIndex}}
    {{input placeholder="Tell us about this spot" value=displayedText}}
  {{/if}}
  {{returnedText}}
</div>
